<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- <div class="container-fluid"> -->
    <form (ngSubmit)="onSubmit()">
      <div class="col-auto my-1">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount"  placeholder="Enter amount" [(ngModel)]="amount" name="amount" >
      </div>
      <div class="col-auto my-1">
        
        <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="amount"
        (change)="amountchange($event)" name="amount" min="500" max="5000" set="500">
      </div>
      <div class="col-auto my-1">
      <label class="my-1 mr-2" for="months">Months</label>
  <select class="custom-select my-1 mr-sm-2" id="months" [(ngModel)]="months" name="months" >
    <option selected value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
  </select>
</div>      
      <button type="submit" class="btn btn-primary" style="margin-left: 15px" (submit)="onSubmit()" >Submit</button>
    </form>
  <!-- </div> -->

  <div *ngFor="let item of data| keyvalue" class="result">
    {{ item.key }} - {{ item.value|json }}
  </div>
</body>
</html>